#navA{
    
    height:3cm;
    text-align: center;
    padding-top: 20px;   
}
.nav-link{
    padding-top:40px ;
}
.container-fluid{
    background-color: #f2cd60;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px !important; 

  }
.card-img-top{
    height: 20% !important;
    height: 200px !important;
}
.carrito-compras{
    position: fixed;
    right: 0px;
    width: 380px;
    height: 50%;
    top: 200px;
    padding: 15px;
    border: 1px solid black;
}
.carrito-compras-titulo{
    text-align: center;
    border-bottom: 1px solid black;
}
.item-img{
    height: 40px !important;
}




#metodosPago{
    padding: 25px;
    height: 3cm;
    background-color:whitesmoke;
}

#tamanoImagen{
    width: 400px;
    height: 276px;
    object-fit: contain;
    object-position: center;
}
#logo{
    margin-top: -50px;
}
#piePagina{
    height: 2cm;
    padding: 10px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}
.footer{
    background-color: rgb(233, 233, 231);
}
